<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission
        android:name="android.permission.PACKAGE_USAGE_STATS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" /> <!-- 알람 알림을 띄우기 위해 사용자에게 허가를 받아야 하는 권한 -->
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" android:maxSdkVersion="32" /> <!-- 배터리 최적화 때문에 시스템이 알람을 미루는 것 방지 (API 32 이하)-->
    <uses-permission android:name="android.permission.USE_EXACT_ALARM" /> <!-- 배터리 최적화 때문에 시스템이 알람을 미루는 것 방지 (API 33 이상 정책 확인 필요-->
    <uses-permission android:name="android.permission.WAKE_LOCK" /> <!-- 화면이 꺼져 있을 때 CPU를 잠시 깨워 알람 처리를 할 수 있게 함 -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" /> <!-- 폰을 재부팅했을 때 자동으로 앱이 신호를 받아 기존 알람을 재등록하기 위해 필요 -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" /> <!-- 포그라운드 서비스 실행할 때 선언 -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MEDIA_PLAYBACK" /> <!-- 알람 소리 재생을 위해 mediaPlayback 타입 선언 -->

    <application
        android:name=".presentation.MyApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.LifeMaster_XML"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".presentation.login.view.LoginActivity"
            android:exported="true"/>
        <activity
            android:name=".presentation.MainActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>

        <activity android:name=".presentation.home.alarm.view.AlarmDisplayActivity"
            android:launchMode="singleInstance"
            android:showOnLockScreen="true"
            android:showWhenLocked="true"
            android:turnScreenOn="true"/>
        <!-- showOnLockScreen: 잠금 화면 위에서도 액티비티가 보일 수 있게 함 -->
        <!-- showWhenLocked: 스마트폰이 잠겨 있는 상태에서도 액티비티를 화면에 표시함 (사용자가 잠금을 풀지 않아도 알람 해제 버튼을 누를 수 있게 함 -->
        <!-- turnScreenOn: 액티비티가 실행될 때 꺼져 있던 화면을 자동으로 켬 -->

        <property
            android:name="android.view.attributionTags"
            android:value="lifemaster_attribution_tag" />

        <activity
            android:name=".presentation.home.edit.view.HomeEditActivity"
            android:exported="false" />

        <service
            android:name=".presentation.total.detox.service.DetoxBlockService"
            android:exported="true"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>

            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/accessibility_service_config" />
        </service>

        <receiver
            android:name=".presentation.home.alarm.view.receiver.AlarmReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <service
            android:name=".presentation.home.alarm.view.service.AlarmService"
            android:enabled="true"
            android:exported="false"
            android:foregroundServiceType="mediaPlayback" />
    </application>

</manifest>